@font-face {
  font-family: 'TT Limes Sans';
  src: url("../fonts/custom/TTLimesSans-Light.eot");
  src: url("../fonts/custom/TTLimesSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/custom/TTLimesSans-Light.woff2") format("woff2"), url("../fonts/custom/TTLimesSans-Light.woff") format("woff"), url("../fonts/custom/TTLimesSans-Light.ttf") format("truetype"), url("../fonts/custom/TTLimesSans-Light.svg#TTLimesSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none
}

body {
    background-color: #3abeed;
    color: #fff;
    font-size: 21px;
    font-family: 'TT Limes Sans';
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    height: 100%
}

.container.uf-container.container--custom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box
}

.dropzone.dropzone--custom.dz-clickable {
    background-color: #3abeed;
    border: 2px solid rgba(255, 255, 255, .1);
    text-align: center
}

.dropzone .dz-preview.dz-image-preview {
    margin: 16px auto
}

@media screen and (max-width:375px) {
    .dropzone .dz-preview.dz-image-preview {
        width: 100%
    }
}

.dropzone .dz-preview .dz-image {
    width: 100%;
    height: auto
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font: normal 14px "TT Limes Sans", sans-serif;
    background-color: #E21283;
    border-color: #E21283;
    width: 65px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 30px;
    z-index: 21;
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.dropzone .dz-preview .dz-remove:hover {
    background: #FF3DA6;
    text-decoration: none;
}

.uf-button-wrapper.button-wrapper--custom {
    text-align: center
}

.uf-button-submit.button-submit--custom {
    display: block;
    font-family: "TT Limes Sans", sans-serif;
    color: #fff;
    background: #E21283;
    width: 100%;
    padding: 14px 20px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: none;
}

.uf-button-submit.button-submit--custom:hover {
    background: #FF3DA6;
    transform: translateY(-3px) scale(1.05);
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom {
    margin-top: 20px;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button {
    font-family: "TT Limes Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px 25px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background-color: #fff042;
    color: #005597;
    border-color: #204d74;
    width: 100%;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button,
.dropzone.dz-started .dz-message span {
    display: block;
    font-family: "TT Limes Sans", sans-serif;
    color: #E21283;
    background: #fff;
    width: 100%;
    padding: 14px 20px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: none;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button:hover,
.dropzone.dz-started .dz-message span:hover {
    transform: translateY(-3px) scale(1.05);
}

.uf-controls-wrapper {
    margin-top: 20px;
}

.uf-controls-wrapper .form-control {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-family: 'TT Limes Sans', sans-serif;
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    padding: 10px 20px 15px;
    margin: 5px 0;
}

.input-group.date {
    margin: 5px 0;
}

.input-group.date input {
    margin: 0;
}

.input-group.date .input-group-addon {
    border-radius: 0px 20px 20px 0;
}

.dropzone .dz-preview .dz-image {
    border-radius: 0;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
    background: #fefefe;
    color: #000;
}

.text-end {
    width: 100%;
    text-align: center;
    margin: 40px auto;
    font-size: 40px;
}